@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --primaryColor: #a7111d;
  --secondColor: #D91438;
  --thirdColor: #F1F2D5;
  --fourthColor: #F2C2CB;
  --borderRadius: 1em;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", serif;
}
*::selection {
  color: #fff;
  background-color: #f1aebb;
}
body {
  background-color: var(--thirdColor);
}
/*--scrool----------------------------------------------------------------------------------------------------------------------------------------------*/
/* Estilo general de la barra de scroll */
::-webkit-scrollbar {
  width: 8px;
  /* Ancho de la barra vertical */
  height: 8px;
  /* Altura de la barra horizontal */
}

/* Estilo del riel de la barra */
::-webkit-scrollbar-track {
  background: #333;
  /* Color del fondo */
}

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #555;
  /* Color de la barra */
  border-radius: 10px;
  border: 2px solid #555;
  /* Borde alrededor de la barra */
}
.containerBuy,
.hrUlLiRve,
.navbar,
.hrUl,
.frontPage,
.btnAddCart,
.btnBuy,
.ourFlavor,
.contentFlavor,
.cotainerDescipFlavor,
.sectionOur,
.sectionContact,
.containerAbout,
.itemsTiendaContainer,
.containerContact,
.containerTitle,
.productCookie,
.productContainer,
.hrNavBarRve {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hrNavBarRve {
  height: 3.7em;
  width: 100%;
  background-color: var(--primaryColor);
  position: fixed;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1100;
  color: #fff;
}
.title {
  font-family: "Ephesis", serif;
  font-size: 7em;
  font-weight: 600;
  color: var(--secondColor);
  text-shadow: 3px 3px 0 var(--fourthColor);
}
h1 {
  font-family: "Ephesis", serif;
  font-size: 7em;
  font-weight: 600;
  color: var(--secondColor);
  text-shadow: 3px 3px 0 var(--fourthColor);
}
.hrACart {
  margin: .7em;
  cursor: pointer;
}
h3 {
  font-family: "Ephesis", serif;
  font-size: 1.5em;
}
.hrLogo {
  font-family: "Ephesis", serif;
  font-size: 1.5em;
  font-weight: 600;
  padding: .5em;
  color: #fff;
}

.hrIconNavBar {
  font-size: 1.8em;
  padding: .5em;
  display: flex;
  cursor: pointer;
}

.hrIconNavBarSolid {
  font-size: 1.8em;
  padding: .5em;
  display: none;
  cursor: pointer;
}

.iconCart {
  font-size: 1.5em;
  color: #fff;
}

.hrCheckBox {
  display: none;
}

.hrUlRve {
  position: relative;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.hrUlLiRve {
  padding: 1em;
  flex-direction: column;
  align-items: end;
  list-style: none;
  background-color: var(--primaryColor);
}

.hrLiA {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}

.hrCheckBox:checked+label .hrIconNavBar {
  display: none;
}

.hrCheckBox:checked+label .hrIconNavBarSolid {
  display: flex;
}

.hrCheckBox:checked~.hrUlRve {
  max-height: 10em;
  transform: scaleY(1);
}
h3 {
  font-family: "Ephesis", serif;
  font-size: 1.5em;
}

.sectionOur,
.sectionContact {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 4em;
  background-color: var(--thirdColor);
  border-top: var(--primaryColor) solid 2px;
}

.containerAbout,
.containerContact {
  width: 90%;
  flex-direction: column;
  gap: 1em;
}

.sectionContact {
  background-color: #333;
  color: var(--thirdColor);
}

.containerContact div a {
  color: var(--thirdColor);
  padding: 1em;
  font-size: 1.5em;
}
.cart-total {
  border: #fff solid 1px;
  border-radius: var(--borderRadius);
  background-color: var(--primaryColor);
  color: #fff;
  padding: .5em;
  cursor: pointer;
  font-weight: bold;
}

.cart-total:hover {
  background-color: var(--fourthColor);
}

.total {
  text-align: end;
  padding: .5em;
}

.modal {
  visibility: hidden;
}


/* Modal Container */
.containerModal {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.54);
  z-index: 1001;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Modal Content */
.contentModal {
  z-index: 1030;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em;
  font-size: .8em;
  position: fixed;
  top: 4.6em;
  width: 40%;
  background-color: var(--thirdColor);
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 1em;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.contentModal img {
  width: 5em;
  height: 5em;
}

.contentCart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .contentModal{
    width: 90%;
  }
}
/* Modal hr */
.topModal {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  border-bottom: 2px solid #000;
  width: 100%;
  padding: 0.3em;
  margin-bottom: 1em;
}

.closeModal {
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.closeModal:hover {
  color: #ff4747;
  /* Red hover effect for close button */
}

/* Modal Body */
.articleCookie {
  display: flex;
  gap: 2em;
  padding-top: 2.4em;
  padding-bottom: 1em;
  border-top: #ccc solid 1px;
}

.articleCookie h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
}

.articleCookie p {
  color: #777;
}

.infoCart {
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.monto {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 2em;
  gap: 1.5em;
}

/* Buttons */
.btnHowMany {
  border: none;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em;
  border-radius: var(--borderRadius);
  transition: background-color 0.3s ease;
}

.btnHowMany:hover {
  background-color: #e0e0e0;
  /* Light background on hover */
}

/* Input Field */
.howManyCookies {
  width: 15%;
  padding: 0.5em;
  font-size: 1em;
  color: #333;
  text-align: center;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: var(--borderRadius);
  outline: none;
  transition: border-color 0.3s ease;
}

.howManyCookies::-webkit-inner-spin-button,
.howManyCookies::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.howManyCookies:focus {
  border-color: #ccc;
  background-color: #fff;
}

/* Cart and Product Styling */
.cart {
  padding: 0 1em;
}

.cart a {
  position: relative;
  top: 0.2em;
}

/* Image and Title Styling */
.imgProduct {
  width: 5em;
  height: 5em;
  object-fit: cover;
  /* Ensure the image covers the box without distortion */
}
.cartItem {
  display: flex;
  gap: .5em;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 1em;
}

.cartItem img {
  border-radius: var(--borderRadius);
  width: 6em;
  height: 6em;
}

.titleCart {
  display: flex;
  gap: .6em;
  align-items: start;
  justify-content: space-between;
  height: 8em;
}

.infoCart {
  overflow: auto;
  height: 7em;
  width: 8em;
}

/* Modal visibility trigger */
.modal:target {
  visibility: visible;
  opacity: 1;
}

.iconContact {
  color: var(--primaryColor);
  font-size: 1.8em;
}

/* Small Improvements for Accessibility */
a {
  text-decoration: none;
  color: inherit;
}

.closeModal:focus {
  outline: 2px solid #ff4747;
  /* Improved focus indicator for better accessibility */
  font-size: 1.2em;
}

.iconTrash {
  font-size: 2em;
  cursor: pointer;
}
/* Estilos para el modal */
.orderModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo semi-transparente */
  z-index: 1030;
  overflow: hidden;
}

.orderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.orderContent {
  background-color: var(--thirdColor);
  padding: 20px;
  border-radius: var(--borderRadius);
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.orderhr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.orderhr h3 {
  margin: 0;
  font-size: 1.5em;
}

.orderClose {
  font-size: 1.5em;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.orderClose:hover {
  color: #ff0000;
}

/* Estilo para el contenido del pedido */
#orderContent {
  font-size: 1.2em;
  margin-top: 15px;
}

#whatsappLink {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #25d366;
  /* Color de WhatsApp */
  color: #fff;
  text-decoration: none;
  border-radius: var(--borderRadius);
  font-size: 1.1em;
  transition: background-color 0.3s;
}

#whatsappLink:hover {
  background-color: #128c7e;
  /* Color de hover */
}

#whatsappLink:active {
  background-color: #075e54;
  /* Color de clic */
}
.notContainer {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 3.7em;
  position: fixed;
  z-index: 2000;
}
.btn-3 {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  color: #fff;
  border-radius: 2em;
  font-weight: 600;
  font-size: 1.5em;
  padding: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.btn-3 .button__icon-wrapper {
  animation: not .4s ease-out;
  background-color: #000;
  padding: .5em;
  position: relative;
  font-size: 1.5em;
  color: #fff;
  border: none;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 3px 3px 1em #333;
  display: grid;
  place-items: center;
  overflow: hidden;
  transform: scale(1);
}
@keyframes not {
  0% {
    transform: scale(-1);
  }

  100% {
    transform: scale(1);
  }
}
.conteainerAjedresBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  font-size: 1.2em;
  background-color: #00000000;
}

.ajedresBtn {
  width: 7em;
  height: 2em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--secondColor);
  border-radius: var(--borderRadius);
  border: 2px solid var(--secondColor);
  cursor: pointer;
  text-align: center;
  transition: background .1s ease-out, border .1s ease-out;
}

.btn-ajedrez {
  color: #fff;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: color .1s ease-out;
}


@media(min-width: 1200px) {
  .conteainerAjedresBtn:hover .ajedresBtn {
    border: 2px solid var(--secondColor);
    background-color: transparent;
  }

  .conteainerAjedresBtn:hover .btn-ajedrez {
    color: var(--secondColor);
  }

  
}
.aContact {
  color: var(--thirdColor);
}