@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --primaryColor: #BF1523;
  --secondColor: #D91438;
  --thirdColor: #F1F2D5;
  --fourthColor: #F2C2CB;
  --borderRadius: .7em;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", serif;
}
.frontPageOrder{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.imgPasteleria{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 3em;
  padding: 2em 0 2em 0;
}
.heroCatering{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 33em;
  margin: 1em;
  gap: 1em;
  text-align: start;
}
.imgPasteleria img{
  margin-top: 3.7em;
  width: 20em;
  height: 20em;
  object-position: center;
  border-radius: var(--borderRadius);
}
.contenedorCatering{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.divContenedorCatering{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  margin: 1em;
  gap: 2em;
}
.divContenedorCatering img{
  width: 15em;
  height: 15em;
  border-radius: var(--borderRadius);
}

.divContenidoCatering {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  gap: 1em;
}

/* Estilos del modal */
.modalCatering {
  display: none;
  position: fixed;
  z-index: 1;
  top: 3.7em;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: auto;
  align-items: center;
  justify-content: center;
}

input{
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: solid #ddd 2px;
}
input::placeholder{
  color: #ddd;
}
.modal-content {
  background-color: var(--secondColor);
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
  color: #eee;
  text-align: left;
}
#cakeForm{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: .7em;
}

.close-btn {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--fourthColor);
}

#canvas {
  display: flex;
  margin: 10px 0;
  background-color: #fff;
}
.contentModal img{
  width: 5em;
  height: 5em;
}